interactions:
- request:
    body: '{"apiKey": "fake_api_key", "apiSecret": "fake_api_secret"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.timeular.com/api/v4/developer/sign-in
  response:
    body:
      string: '{"message":"You provided invalid apiKey/apiSecret pair","error":{"message":"You
        provided invalid apiKey/apiSecret pair","code":"00200100004"}}'
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
